<?xml version='1.0' encoding='utf-8'?>
<plugin id="ScreenRecorder-cordova-plugin"
        version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ScreenRecorderPlugin</name>
    <engines>
        <engine name="cordova" version=">=5.0.0"/>
    </engines>
    <asset src="www/ScreenRecorderPlugin.js" target="js/ScreenRecorderPlugin.js"/>

    <js-module name="ScreenRecorderPlugin" src="www/ScreenRecorderPlugin.js">
        <clobbers target="ScreenRecorderPlugin"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="_CordovaPlugin">
                <param name="android-package" value="com.pepperbean.plugin._CordovaPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="com.pepperbean.plugin.ScreenRecorderActivity"
                    android:label="@string/app_name"
                    android:theme="@android:style/Theme.NoDisplay">

            </activity>
        </config-file>
        <source-file src="src/android/_CordovaPlugin.java" target-dir="src/com/pepperbean/plugin/"/>
        <source-file src="src/android/ScreenRecorder.java" target-dir="src/com/pepperbean/plugin/"/>
    </platform>
  <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="_CordovaPlugin">
                    <param name="ios-package" value="_CordovaPlugin" />
                </feature>
            </config-file>

            <header-file src="src/ios/ASScreenRecorder.h" />
            <source-file src="src/ios/ASScreenRecorder.m" />
            <header-file src="src/ios/_CordovaPlugin.h" />
            <source-file src="src/ios/_CordovaPlugin.m" />
        </platform>
</plugin>
